.App {
  text-align: center;
}

.main-container {
  width: 85%;
  margin: 0 auto;
}

Button {
  display: block;
  border: none;
  color: white;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 50px auto;
  transition-duration: 0.4s;
  transition-property: background-color, color, box-shadow;
  cursor: pointer;
  border-radius: 5%;
  background-color: white;
  color: black;
  border: 2px solid #960303;
  text-transform: uppercase;
}

Button:hover {
  background-color: #960303;
  color: white;
}

Button:active {
  background-color: #995500;
  box-shadow: 2px 2px 5px #fc894d;
  transition-duration: 0.05s;
}

select, input, label {
  margin: 20px 15px 0;
}

input, select{
  padding: 10px;
  border: 2px solid #960303;
}